*{
	font-family: 'Lato', sans-serif;
}

.first-section{
	background-image: url(../img/bg.jpeg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
}

/*Titulo*/
.first-section h1{
	padding-top: 2em;
	color: #fff;
	font-weight: 900;
	font-size: 70px;
}


/*Linea*/
.line{
	border-top: 3px solid white;
}

/*Bajada de titulo*/
#showApp{
	color: #fff;
	font-weight: 400;
}