*{
	font-family: 'Lato', sans-serif;
}

.first-section{
	background-image: url(../img/bg.jpeg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
}

/*Titulo*/
.first-section h1{
	padding-top: 2em;
	color: #fff;
	font-weight: 900;
	font-size: 70px;
}


/*Linea*/
.line{
	border-top: 3px solid white;
}

/*Bajada de titulo*/
#showApp{
	color: #fff;
	font-weight: 400;
}

/*Estilo que tendran los titulos h3 de la segunda y tercera sección*/
.app{
	padding: 2em 0;
	color: #5A5A5A;
}

/*Segunda sección*/
.second-section{
	background-color: #fff;
	padding: 5em 0;
}

.title-second{
	color: #D2527F;
}

.feature{
	padding: 0.8em;
}

.features:hover{
	background-color: #F2F2F2;
	cursor: pointer;
}

p{
	padding: 0;
	margin-bottom:  1em;
	font-weight: 300;
	font-size: 18px;
	line-height: 28px;
	color: #666;
	margin-top: 1em;
}
.third-section{
    background-color:#f2f2f2 ;
    height: 100vh;
}

.btn-default{
	color: #fff;
	background-color: #D2527F;
	border-color: #B4215D;
}
.bt-default:hover{
	background-color: #C53A6D;
	color: #fff;
}
.btns{
	padding-top: 5em
}